@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  textarea {
    @apply outline-none focus:outline-none;
  }
}
html {
  @apply scrollbar-thin scrollbar-track-gray-100 scrollbar-thumb-gray-300 hover:scrollbar-thumb-gray-400;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --toastify-toast-width: auto;
  --toastify-toast-min-height: auto;
}
